include LICENSE
include WORKSPACE
include CONTRIBUTING.md
include README.md
include requirements*.txt
recursive-include . *BUILD
recursive-include . *.bzl
recursive-include . *.h
recursive-include . *.cc
